@import "./normalizacion.scss";
/* ::: Sección :: Inicio :: Servicios ::: */
.work__image {
    display: block;
    margin: 0 auto;
  }
  
  .work__list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }
  
  .work__list--set {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
  }
  
  .work__overlay-section {
    background-color:$dark-background-color;
    bottom: 0;
    height: 70px;
    opacity: 0.8;
    position: absolute;
    width: 100%;
  }
  
  .work__overlay-section>p {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 27px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .work__title {
    color: $main-text-color;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1;
    margin-bottom: 50px;
    text-align: center;
  }
  
  /* ::: Sección :: Fin :: Servicios ::: */